<hr style="height: 10px; border: 0; box-shadow: 0 10px 10px -10px #8c8b8b inset;">
<section class="section">
  <script src="https://utteranc.es/client.js"
          repo="DestyNova/overto.eu"
          issue-term="pathname"
          label="comment"
          theme="gruvbox-dark"
          crossorigin="anonymous"
          async>
  </script>
</section>

<div class="footer wrapper">
	<nav class="nav">
		<div>{{ default 2023 .Date.Year}} {{ with .Site.Copyright }} {{ . | safeHTML }} {{ end }}</div>
	</nav>
</div>
